<html>
<style type="text/css">
   button.new {font-size:30px;
    background: -moz-linear-gradient(#d64154, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d61d1b), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 50px 70px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
   }
  </style>
<body>
 <h1>Получите подсказку!</h1>
 <h1>{{ secret }}</h1>
 <h1>{{ name }}</h1>
 <a href="{{url_for('hello')}}">
   <button  class="new"> Испытать следующего!</button>
 </a>

</body>
</html>

